*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}

.container {
    max-width: 1660px;
    margin: 0 auto;
    border: 1px solid;
    display: grid;
    place-items: center;
}