body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    }
    
    h1 {
        margin: 0;
        margin-bottom: .5rem;
    }
    
    .input {
        border: 1px solid #333;
        border-radius: .3em;
        padding: .25rem;
        width: 7em;
        background-color: #333;
        color: aliceblue;
        font-size: inherit;
    }
    /*  */
    select {
        margin-left: 0.5rem;
    }
    
    .equals {
        font-weight: bold;
        font-size: 2rem;
        border: 3px solid black;

    }

    .container {
        background: blue;
        
    }

    .flex {
        display: flex;
        gap: 1rem;
    }

  